<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="Find Restaurant In Your Place" name="description">
  <meta content="#203541" name="theme-color" />
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/maskable_icon_x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins&display=swap" rel="stylesheet">

  <title>Me Time</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Skip?</a>
  <header>
      <div class="logo">
        <p>Me Time</p>
      </div>
      <div class="hamburger">
        <button id="hamburgerButton" aria-label="Open Navbar">☰</button>
      </div>
      <nav id="navigationDrawer">
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a href="https://www.instagram.com/wisma_nugroho19/?hl=id" target="_blank" rel="noreferrer">About Us</a>
          </li>
        </ul>
      </nav>
  </header>

  <main id="mainContent" tabindex="0">
  </main>
  <footer>
    <p>Copyright © 2022 MyTime. Create by Nugroho</p>
  </footer>
</body>

</html>